body {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
}

button:active, button:focus {
    outline: none;
}

.row {
    height: 100%
}

.list-group {
    padding: 10px;
    border: 1px solid #eee;
    height: 100%;
}

.list-group-item  {
    border: none
}

.navbar-nav {
    flex-direction: row;
}

.my-link-btn {
    position: absolute;
    right: 10px;
}

.my-check-box {
    margin: 20px 0
}

.my-manipulate-btn__box {
    display: flex;
    width: 50px;
    height: 100px;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    position: absolute;
    
}

.my-manipulate-btn {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid rgb(225, 225, 225);
}

.my-category__box {
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    z-index: 100;
}

.my-category__box button {
    margin-right: 10px
}

#my-node-list__box {
    background-color: #fff;
    overflow-y: scroll;
    padding: 0 10px 0 5px;
}

#my-task-filter_box {
    display: flex;
    padding: 0 10px
}

#my-task-filter_box > .my-check-box {
    margin-right: 20px
}

#my-node-info__panel {
    height: 200px;
    /* width: 100%; */
    left: 5px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 65px;
    right:15px;
    border: 1px solid rgb(225, 225, 225);
    padding:15px;
    word-break: break-all;
    overflow-y: scroll;
}

#my-graph-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 999; */
  }

  .my-node-info__item {
      width: 50%;
      vertical-align: middle;
  }

  .my-node-info__title {
      margin: 0 0 10px
  }
#my-graph-canvas__pattern2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 50px;
    /* z-index: 999; */
  }
  .my-node-category__btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #eee;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    outline: none;
  }

  .cate-btn__active{
      background-color: #e3e6ea
  }

  .my-filter-node__box {
    padding: 0 5px;
  }

  .hidden-style {
      visibility: hidden;
  }

  
